body {
    margin:0;
    padding:0;
    overflow:hidden;
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'DM Sans', sans-serif;
    color: white;
}

canvas {
    display:block;
}

h1 {
    font-size: 60px;
    color: white;
    font-weight: 200;
}

p1 {
    position: absolute;
    top: 0.5in;
    left: 0.5in;
    margin: 0.5in;
    font-weight: 200;
    font-size: 24px;
}


a {
    text-decoration: none;
    color: white;
}

.overlay {
    position: absolute; 
    display: flex; 
    width: 100vw; 
    height: 100vh; 
    padding: 25px;
    justify-content: center; 
    align-items: center;
    background-color: transparent;
    margin: 0; 
}

.overlay-boid {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background, adjust as needed */
    box-sizing: border-box; /* Include padding in the width calculation */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.yoricontainer {
    flex-basis: 50%; /* Each container takes up half of the overlay width */
    max-width: 50%; /* Prevent containers from stretching beyond 50% width */
    padding: 15px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in width calculation */
    overflow: hidden; /* Prevent content from spilling out */
}

.boid {
    text-align: left;
    color: white; /* Ensure text is visible on the dark background */
    max-width: 100%; /* Ensure the content fits within the .overlay-boid */
    margin: 0; /* Reset any default margin */
}

.intro-block {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}


.propage {
    display: flex;
    flex-direction: row;
}

.container {
    flex-basis: 50%;
}

.container:last-child {
    display: flex;
    justify-content: flex-end;
}

.container img {
    max-width: 100%;
}

a:hover {
    text-decoration: underline;
    color: #4A90E2; 
}


@media (max-width: 600px) {
    .boid-container {
        padding: 10px;
    }

    .boid-title {
        font-size: 1.5em;
    }
}
