body {
    margin:0;
    padding:0;
    overflow:hidden;
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'DM Sans', sans-serif;
    color: white;
}

canvas {
    display:block;
}

h1 {
    font-size: 60px;
    color: white;
    font-weight: 200;
}

p1 {
    position: absolute;
    top: 0.5in;
    left: 0.5in;
    margin: 0.5in;
    font-weight: 200;
    font-size: 24px;
}


a {
    text-decoration: none;
    color: white;
}

.overlay {
    position: absolute; 
    display: flex; 
    width: 100vw; 
    height: 100vh; 
    padding: 25px;
    justify-content: center; 
    align-items: center;
    background-color: transparent;
    margin: 0; 
}

.overlay-boid {
    position: relative; 
    display: flex; 
    width: 100vw; 
    height: 100vh; 
    padding: 25px;
    background-color: transparent;
    margin: 0; 
}

.boid {
    text-align: left; /* Align text to the left */
    margin-left: 25px; /* Adjust as needed */
    width: auto; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    color: white;
}

.intro-block {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}


.propage {
    display: flex;
    flex-direction: row;
}

.container {
    flex-basis: 50%;
}

.container:last-child {
    display: flex;
    justify-content: flex-end;
}

.container img {
    max-width: 100%;
}

a:hover {
    text-decoration: underline;
    color: #4A90E2; 
}


@media (max-width: 600px) {
    .boid-container {
        padding: 10px;
    }

    .boid-title {
        font-size: 1.5em;
    }
}
